/* _content/WeedShop/Views/Shared/_Layout.cshtml.rz.scp.css */
/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */
:root[b-m1aopy25be] {
    --weedColor: #83b735;
}
.weedGreen[b-m1aopy25be] {
    background-color: var(--weedColor);
    color: white;
}
*[b-m1aopy25be] {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}
a.navbar-brand[b-m1aopy25be] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-m1aopy25be] {
  color: #0077cc;
}

.btn-primary[b-m1aopy25be] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-m1aopy25be], .nav-pills .show > .nav-link[b-m1aopy25be] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-m1aopy25be] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-m1aopy25be] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-m1aopy25be] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-m1aopy25be] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-m1aopy25be] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
.rights[b-m1aopy25be] {
    position: absolute;
    right: 10em;
}
.bg-black[b-m1aopy25be] {
    background-color:black;
}
.fg-white[b-m1aopy25be] {
    color:white;
}
.fg-weedGreen[b-m1aopy25be] {
    color: var(--weedGreen);
}
.shoppie-cart[b-m1aopy25be] {
    position:absolute;
    right: 4em;
    top: 0.7em;
}
.rights-amount[b-m1aopy25be] {
    position: absolute;
    background-color: var(--weedColor);
    padding: 2px 9px;
    border-radius: 50%;
    right: 3em;
    z-index: 3;
    top: 0.7em;
}
@media screen and (max-width: 700px) {
    .lefts[b-m1aopy25be] {
        position: relative;
     
    }
}
