@using Infrastructuur.Models
@using WeedShop.Controllers
@model Infrastructuur.Models.AddressEntity

@{
    //  ViewData["Title"] = "AddAddressToUser";
    // var addresses  = ViewData["addresses"] as IEnumerable<AddressEntity>;
}

<h1 class="text-center m-5">Add Address</h1>


<hr />
<div class="d-flex justify-content-center">
    <div class="col-md-4">
        <form asp-action="AddAddressToUser">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @*     <div class="form-group">
            <label asp-for="Id" class="control-label"></label>
            <input asp-for="Id" class="form-control" />
            <span asp-validation-for="Id" class="text-danger"></span>
            </div>*@
            <div class="form-group">
                <label asp-for="Address" class="control-label"></label>
                <input asp-for="Address" class="form-control" />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PostalCode" class="control-label"></label>
                <input asp-for="PostalCode" class="form-control" />
                <span asp-validation-for="PostalCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AddressNumber" class="control-label"></label>
                <input asp-for="AddressNumber" class="form-control" />
                <span asp-validation-for="AddressNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="City" class="control-label"></label>
                <input asp-for="City" class="form-control" />
                <span asp-validation-for="City" class="text-danger"></span>
            </div>
            <div class="form-group">
                <select class="form-select mt-4" asp-items="@UserController.CountriesListItem"></select>
            </div>
            @*            <div class="form-group">
            <label asp-for="Country" class="control-label"></label>
            <input asp-for="Country" class="form-control" />
            <span asp-validation-for="Country" class="text-danger"></span>
            </div>*@
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-sm w-100 weedGreen mt-2" />
            </div>
            <div>
                <a class="btn btn-sm w-100 weedGreen mt-2" asp-action="Index">Back to List</a>
            </div>
        </form>
    </div>
</div>



