@using Infrastructuur.Models
@using WeedShop.Controllers
@model Infrastructuur.Models.WeedEntity

@{
    ViewData["Title"] = "Create";
}

<h1 class="text-center mt-3">Create Weed</h1>

<hr />
<div class="d-flex justify-content-center mx-auto mt-5">
    <div class="">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="THC" class="control-label"></label>
                <input asp-for="THC" class="form-control" />
                <span asp-validation-for="THC" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ImageFileLocation" class="control-label"></label>
                <input asp-for="ImageFileLocation" type="file" name="image" class="form-control" />
                <span asp-validation-for="ImageFileLocation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Info" class="control-label"></label>
                <input asp-for="Info" class="form-control" />
                <span asp-validation-for="Info" class="text-danger"></span>
            </div>
            <select class="form-select mt-3" asp-for="@Model.TypeProduct" asp-items="@WeedController.WeedListTypes"></select>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-sm w-100 weedGreen mt-3" />
                <div>
                    <a class="btn btn-sm w-100 weedGreen mt-3" asp-action="Index">Back to List</a>
                </div>
            </div>
        </form>
    </div>
</div>



@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }
